In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("done_data.csv")

In [16]:
df_price_pivot=data.pivot(index='datadate', columns='tic', values='adjcp')
unique_date = data.datadate.unique()

# start after a year
start = 252
turbulence_index = [0]*start
count=0

current_price = df_price_pivot[df_price_pivot.index == unique_date[start]]
hist_price = df_price_pivot[[n in unique_date[0:start] for n in df_price_pivot.index ]]
type(hist_price)
# cov_temp = hist_price.cov()

pandas.core.frame.DataFrame

In [4]:




for i in range(start,len(unique_date)):
    current_price = df_price_pivot[df_price_pivot.index == unique_date[i]]
    hist_price = df_price_pivot[[n in unique_date[0:i] for n in df_price_pivot.index ]]
    cov_temp = hist_price.cov()
    current_temp=(current_price - np.mean(hist_price,axis=0))
    temp = current_temp.values.dot(np.linalg.inv(cov_temp)).dot(current_temp.values.T)
    if temp>0:
        count+=1
        if count>2:
            turbulence_temp = temp[0][0]
        else:
            #avoid large outlier because of the calculation just begins
            turbulence_temp=0
    else:
        turbulence_temp=0
    turbulence_index.append(turbulence_temp)


turbulence_index = pd.DataFrame({'datadate':df_price_pivot.index,
                                    'turbulence':turbulence_index})

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-02,8772.250000,9065.280273,8760.780273,9034.690430,9034.690430,213700000
1,2009-01-05,9027.129883,9034.370117,8892.360352,8952.889648,8952.889648,233760000
2,2009-01-06,8954.570313,9088.059570,8940.950195,9015.099609,9015.099609,215410000
3,2009-01-07,8996.940430,8996.940430,8719.919922,8769.700195,8769.700195,266710000
4,2009-01-08,8769.940430,8770.019531,8651.190430,8742.459961,8742.459961,226620000
...,...,...,...,...,...,...,...
2923,2020-08-13,27922.509766,27986.099609,27789.779297,27896.720703,27896.720703,360160000
2924,2020-08-14,27828.929688,27977.810547,27759.390625,27931.019531,27931.019531,275540000
2925,2020-08-17,27970.050781,27999.810547,27816.400391,27844.910156,27844.910156,286860000
2926,2020-08-18,27853.480469,27891.119141,27668.789063,27778.070313,27778.070313,276170000
2927,2020-08-19,27811.259766,27920.419922,27647.669922,27692.880859,27692.880859,311460000